<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs', { title: translation.registrationForm }) %>
  <body>
    <!-- <%- include('partials/logo.ejs') %> -->

    <main class="container">
      <a href="http://www.lib.chalmers.se/"><img class="logo-name" src="images/Biblioteket_RGB_EN_20190917.png" alt="Chalmers Library"></a>
      <h1><%- translation.newPinSuccessHeader %></h1>
      <section class="body-text">
      <p><%- translation.newPinSuccessText %></p></section>
      <section class="footer-text">
        <p><%- translation.needHelp %></p>
    </section> 
      </main>
  </body>
</html>
